<script src="/js/soundmanager2-jsmin.js"></script>
<script src="/js/jquery.tinysort.min.js"></script>
<script src="/js/muusio.js"></script>

<script>
	MuusioPlayer.init();
</script>

<div id="controls">
	<div id="show-hide-controls">
		<a href="#" class="right">...</a>
		<div class="clear"></div>
	</div>

	<div id="hideable-controls">
		<div class="time-display left">
			<span id="current-time">00:00</span>/<span id="total-time">00:00</span>
		</div>

		<div id="track-name-display" class="left"></div>

		<input type="text" id="song-list-filter" value="" placeholder="Filter..." class="right" />

		<div class="right hidden">
			<a href="#" id="upload-button">Upload</a> 
			<a href="#" id="show-available-downloads-button">Show Available Downloads</a> 
		</div>

		<div class="clear"></div>
	</div>

	<div id="prev-button" class="controls-button left">&lt;&lt;</div>
	<div id="play-pause-button" class="controls-button left play"></div>
	<div id="song-progress-wrapper">
		<div id="song-progress" class="left"></div>
	</div>
	<div id="next-button" class="controls-button right">&gt;&gt;</div>
	<div class="clear"></div>
</div>

<div id="show-hide-right-panel" class=""><<</div>
<div id="right-panel" class="">Right Panel</div>

<div class="clear"></div>

<div id="available-song-list">None!</div>

<div id="song-list-headers">
	<div class="left song-title"><a href="#" id="sort-title">Title</a></div>
	<div class="left song-artist"><a href="#" id="sort-artist">Artist</a></div>
	<div class="left song-album"><a href="#" id="sort-album">Album</a></div>
	<div class="left song-sort-random"><a href="#" id="sort-random">Random</a></div>
	<div class="clear"></div>
</div>

<div id="song-list">
</div>

<script id="song-tmpl" type="text/x-jquery-tmpl">
	<div class="track" id="${file_hash}">
		<div class="left song-title">${id3.title}&nbsp;</div>
		<div class="left song-artist">${id3.artist}&nbsp;</div>
		<div class="left song-album">${id3.album}&nbsp;</div>
		<div class="left song-sort-random"><a href="#" class="queue-song">Q</a> <a href="#" class="open-file-location">O</a></div>
		<div class="clear"></div>
	</div>
</script>

<script id="available-song-tmpl" type="text/x-jquery-tmpl">
	<a href="#" class="available-song-download" data-file-hash="${file_hash}">Obtain ${file_name}</a><br />
</script>