<script src="/js/soundmanager2-jsmin.js"></script>
<script src="/js/jquery.tinysort.min.js"></script>
<script src="/js/muusio.js"></script>

<script>
	MuusioPlayer.init();
</script>

<div id="controls">
	<span id="current-time">00:00</span>/<span id="total-time">00:00</span>

	<input type="text" id="song-list-filter" value="" size="50" class="right" />
	<div class="clear"></div>

	<div class="left">
		<a href="#" id="upload-button">Upload</a> 
		<a href="#" id="show-available-downloads-button">Show Available Downloads</a> 
	</div>
	<div class="right">
		Sorting: 
		<a href="#" id="sort-artist">Artist</a>
		<a href="#" id="sort-album">Album</a>
		<a href="#" id="sort-title">Title</a>
	</div> 
	<div class="clear"></div>

	<div id="prev-button" class="controls-button left"></div>
	<div id="play-pause-button" class="controls-button left play"></div>
	<div id="song-progress-wrapper">
		<div id="song-progress" class="left"></div>
	</div>
	<div id="next-button" class="controls-button right"></div>
	<div class="clear"></div>
</div>

<div class="clear"></div>

<div id="available-song-list">None!</div>

<div id="song-list"></div>

<script id="song-tmpl" type="text/x-jquery-tmpl">
	<div class="track" id="${file_hash}">
		<div class="left song-title">${id3.title}</div>
		<div class="left song-artist">${id3.artist}</div>
		<div class="left song-album">${id3.album}</div>
		<div class="left"><a href="#" class="queue-song">Queue</a></div>
		<div class="clear"></div>
	</div>
</script>

<script id="available-song-tmpl" type="text/x-jquery-tmpl">
	<a href="#" class="available-song-download" data-file-hash="${file_hash}">Obtain ${file_name}</a><br />
</script>