<html>
<head>
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<script src="/js/jquery-1.7.2.min.js"></script>
	<script src="/js/jquery.tmpl.min.js"></script>
</head>

<body>
	<script>
		$(function(){
			//Page Init
		});
	</script>

	<%= yield %>

</body>
</html>