body {
	padding-top: 20px;
	padding-bottom: 60px;

	background-color: #F5F5F5;
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased !important;
}

a {
	color: black;
}

a:hover {
	cursor: hand;
}

#song-progress-wrapper {
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

#song-progress {
	position: absolute;
	top: 5px;
	left: 60px;
	right: 30px;
	height: 10px;
	background-color: black;
	background: none;
}

#song-progress .ui-progressbar-value {
	background: none;
	border: 1px solid #106F7C;
	background-image: -webkit-linear-gradient(bottom, #106F7C 4%, #308F9C 52%);
}

#hideable-controls {
}

#song-list {
	overflow: scroll;
	overflow-x: hidden;
	height: auto;
}

.playing {
	-webkit-animation: highlight-track .5s ease-in;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes highlight-track {
	0% {
		background-color: #F5F5F5;
		-webkit-box-shadow: -1px 1px 1px #FFF;
		text-shadow: none;
	}
	50% {
		background-color: #DDDDDD;
	}
	100% {
		background-color: #DDDDDD;
		-webkit-box-shadow: -1px 1px 1px #777;
		text-shadow: 2px 1px 2px #BBB;
	}
}

.hidden {
	display:none;
}

.track {
	padding: 5px;

	padding-left: 3px;
	margin-left: 2px;

	padding-bottom: 0px;
	margin-bottom: 3px;

	border-bottom: 1px solid #DDD;
	cursor: hand;
}

.track div {
	padding-right: 5px;
	cursor: hand;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#song-list-headers {
	position: fixed;
	background-color: #333;
	width: 100%;
	padding: 5px;
	top: 0px;
	left: 0px;
	-webkit-box-shadow: -1px 1px 1px #777;
}

#song-list-headers a {
	color: white;
}

#song-list-headers div {
	font-weight: bold;
	z-index: 1;
}

.song-title {
	width: 40%;
}

.song-artist {
	width: 15%;
}

.song-album {
	width: 25%;
}

.song-sort-random {
	width: 5%;
}

#available-song-list {
	display: none;
	border: 1px solid;
	padding: 5px;
}

/********************
>> Right Panel
*******************/

#right-panel {
	background-color: #F5F5F5;
	display: block;
	position: fixed;
	right: -25%;
	top: 0px;
	bottom: 0px;
	width: 20%;

	text-overflow: hidden;
	overflow: hidden;
	white-space: nowrap;

	z-index: 998;

	-webkit-box-shadow: -1px 1px 1px #777;
}

#show-hide-right-panel {
	background-color: #F5F5F5;
	display: block;
	position: fixed;
	right: 0px;
	top: 40%;
	bottom: 0px;
	height: 13px;
	padding: 5px;

	opacity: 0.2;

	z-index: 999;
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 3px #777;
}


/********************
>> Controls (Play, Pause, ETC)
********************/

#controls {
	position: fixed;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
	padding: 5px;
	right: 0;
	left: 0;
	color: white;
	background-color: #333;
	-webkit-box-shadow: 0px -2px 3px #777;
	font-size: 15px;

	z-index: 999;
}

#controls a {
	color: white;
}

#track-name-display {
	padding-left: 20px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#show-hide-controls {
	height: 8px;
	line-height: 2px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

#song-list-filter {
	size: 20%;
}

.controls-button {
	width: 20px;
	height: 15px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: hand;
}

.play {
	
}

.pause {
	
}

#next-button {
	
}

#prev-button {
	
}

/********************
>> General Purpose
********************/

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}